*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #4295f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-blend-mode: hue;
    

}
.div1{
    display: flex;
    flex-direction: column;
}

#main,.div1{

    background-color: white;
    height: auto;
    width: 500px;
margin: 50px auto ;
border-radius: 20px;
overflow: hidden;
}
#post{
    width:500px ;
    height: auto;
}

#top{
    border-bottom: 1px solid rgb(204, 197, 197);
    width: 100%;
    height: 50px;
}
#top>h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-stretch: narrower;
    margin-top:10px ;
    margin-left: 20px;
}


#img{
    display: flex;
    padding-left: 10px ;
margin-bottom: 10px;
    margin-top: 4px;
}
#img>p{
    margin-top: 7px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: large;
}

#img>img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#text{
    width: 97%;
height:270px;
/* background-color:rgb(255, 255, 255); */
text-decoration: none;
border: none;
font-size: 27px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 10px;

}
#text:focus{
    border: none;
outline: none;
}

#backgrounds{
    width: 100%;
    height: 30px;
    display: flex;

}
#back1{
    width: 20px;
    height: 20px;
    margin: 4px ;
}
#back5{
    width: 19px;
    height: 19px;
    border: 1px solid rgb(82, 55, 55);
    margin: 4px ;
}
#back2{
    width: 20px;
    height: 20px;
    margin: 4px ;
}
#back3{
    width: 20px;
    height: 20px;
    margin: 4px ;
}
#back4{
    width: 20px;
    height: 20px;
    margin: 4px ; 
}
#btn{
    width: 100%;
    background-color: rgb(47, 47, 245);
    height: 30px;
    font-size: larger;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(67, 67, 255);
}
#main-post{
    height: auto;
    width: auto;
display: flex;
flex-direction: column;
justify-content: center;

    
}

/* 
.bottom{

    margin-top: 100px;
    position: absolute;
    position: relative;
    bottom: 0;
} */
#div2{
    padding: 14px;
}
#div1{
    border-bottom: 1px solid rgb(201, 197, 197);
}
#div3{display:none;

border-top:  1px solid rgb(201, 197, 197);
border-bottom:  1px solid rgb(201, 197, 197)!important;

}
#div3>button:hover{
    background-color: rgb(240, 240, 240);
}

#div3>button{

    height: 30px;
    width:33.333% ;
outline: none;
border: none;
background-color: white;
border-bottom:  1px solid rgb(201, 197, 197)!important;

}
.cmntbtn{

    border-left: 2px solid rgb(201, 197, 197) !important;
    border-right: 1px solid rgb(201, 197, 197)!important;
background-color: #4295f5 ;
}

.input{
    margin-top: 20px;
    padding: 10px;
    width: 77%;
    height: 20px;
    border-radius: 30px;;
    border: 1px solid rgb(201, 197, 197)!important;
display: none;


}
input:focus{
    outline: none;
}
.send{

    width: 18% !important;;
    height: 39px !important;
    border: 1px solid rgb(201, 197, 197)!important;
    border-radius: 30px;
margin-left: 4px;
display: none;


}


.commenttext{
    padding-left: 20px;
}


.final{

    /* box-shadow: 10px 1px 9px rgb(177, 177, 177); */
    width:80%;
}